body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
}
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;

    background: url("work.gif") no-repeat center center;
    background-size: cover;

    z-index: -2;
}
body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);

    z-index: -1;
}
.login-box {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.video-tela {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: black;
}
.video-tela video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}